@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.pickers {
  display: flex;
  flex: 1;
  width: 100%;
}

.intro {
  position: absolute;
  width: 100%;
  padding: 3em 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: #000 4px 4px 15px;
}

.left,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
}

.app {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gh-button {
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
}
