html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: rgba(204, 204, 204, 0.1);
  font-family: Open sans, sans-serif;
}

.rgba-input {
  width: 30px;
}

.app {
  height: 100%;

  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.controls-container {
  padding: 10px 15px;;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px 10px;
  text-transform: uppercase;
  color: #888;
  font-size: 0.7em;

  .hex-input {
    width: 100%;
    margin: 0px 20px;
    border: none;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
  }

  .rgba {
    display: flex;
    width: 90%;

    .rgba-input {
      width: 70%;
      height: 20px;
      text-align: center;
      border: none;
      padding: 2px;
      margin-bottom: 2px;
    }
  }

  .rgba-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.input-switcher {
}

.switcher {
  cursor: pointer;
  color: #888;
  margin: 2px 0;

  &-up,
  &-down {
    height: 20px;
    width: 20px;
  }

  &-up {
    background: url('/src/icons/arrow-up.svg');
    background-size: 20px;
  }

  &-down {
    background: url('/src/icons/arrow-down.svg');
    background-size: 20px;
  }
}

.container {
  position: relative;
}

.color-picker {
  width: 225px;
  background: #eee;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 2px, rgba(0, 0, 0, 0.298039) 0px 4px 8px;
}

.swatch-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.swatch-underlay {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
  background: -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
  background: linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
  background-position: 0 0, 5px 5px;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 10px 10px;
  background-size: 10px 10px;
}

.sliders {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  margin-left: 10px;
}

.saturation {
  position: relative;
  height: 127px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #FFF, rgba(255, 255, 255, 0));
  z-index: 2;
}

.black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
  z-index: 3;
}

.color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #FF00E0;
}

.indicator {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 5;
}

.hue-container,
.alpha-container {
  position: relative;
  height: 10px;
}

.hue-container {
  margin-bottom: 10px;
}

.hue {
  background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
  height: 10px;
  width: 100%;
  position: absolute;
  cursor: pointer;
  border-radius: 2px;
}

.hue-indicator,
.alpha-indicator {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.368627) 0px 1px 4px 0px;
}

.alpha {
  height: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
}

.gradient-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2px;
}

.checkerboard {
  position: absolute;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 10px;
  border-radius: 2px;
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
  background: -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), -moz-linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
  background: linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), linear-gradient(45deg, rgba(0,0,0,0.0980392) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.0980392) 75%, rgba(0,0,0,0.0980392) 0), rgb(255, 255, 255);
  background-position: 0 0, 5px 5px;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 10px 10px;
  background-size: 10px 10px;
}
