.color-display {
  display: flex;
  width: 90%;

  .color-input-container {
    display: flex;

    .channel-container {
      @include flex-center;
      flex-direction: column;
    }

    .color-input {
      margin-bottom: 2px;
      padding: 2px;
      width: 70%;
      height: 20px;
      border: none;
      text-align: center;
    }
  }
}

.inputs-container {
  @include flex-center;
  padding: 0 15px 10px;
  text-transform: uppercase;
  color: #888;
  font-size: 0.7em;

  .hex-input {
    width: 100%;
    margin: 0px 20px;
    border: none;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
  }
}

