.color-display {
  display: flex;
  width: 90%;

  .color-input-container {
    display: flex;

    .channel-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .color-input {
      width: 70%;
      height: 20px;
      text-align: center;
      border: none;
      padding: 2px;
      margin-bottom: 2px;
    }
  }
}

