.saturation {
  position: relative;
  height: 127px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  .color-overlay {
    @include absolute-zero;
    background: linear-gradient(to right, #FFF, rgba(255, 255, 255, 0));
    z-index: 2;
  }

  .black {
    @include absolute-zero;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    z-index: 3;
  }

  .color {
    @include absolute-zero;
    z-index: 1;
  }

  .indicator {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 5;
    transform: translate(-5px, -5px);
  }
}
