.switcher {
  cursor: pointer;
  color: #888;
  margin: 2px 0;

  &-up,
  &-down {
    height: 20px;
    width: 20px;
  }

  &-up {
    background: url('/src/icons/arrow-up.svg');
    background-size: 20px;
  }

  &-down {
    background: url('/src/icons/arrow-down.svg');
    background-size: 20px;
  }
}
