@import 'mixins';
@import 'swatch';
@import 'color-input';
@import 'sliders';
@import 'switcher';
@import 'saturation';
@import 'color-picker';

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.pickers {
  display: flex;
  flex: 1;
  width: 100%;
}

.intro {
  position: absolute;
  width: 100%;
  padding: 3em 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: #000 4px 4px 15px;
}

.left,
.right {
  @include flex-center;
  flex-basis: 50%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
}

.app {
  height: 100%;

  .app-container {
    @include flex-center;
    flex-direction: column;
    height: 100%;
  }
}






